@import "vars";

html, body {
    margin: 0;
    padding: 0;
    height: 90%
}
body {
    font-family: 'IBM Plex', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: $accent;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post-title {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#author-name {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    display: block;
    color: #272727;
}

.navbar {
    // text-align: center;
    padding: 2em 0 2em 0;
}

.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 5px 5px 0;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}
.alignable {
    display: inline-block;
}

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}

.header-icon {
    margin-right: 0.75rem;
    color: $header-text;
}

a:hover {
    text-decoration: underline;
}
    
ol {
    counter-reset: list;
}

ol > li {
    list-style-position: none;
    position: relative;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul > li {
    margin: 5px 0 5px 0;
}
ul {
    padding: 0 20px 0 20px;;
}
ol {
    padding: 0 30px 0 30px;
}
ol > li:before {
    content: "[" counter(list, decimal) "] ";
    counter-increment: list;
    position: absolute;
    left: -30px;
}
blockquote {
    border-left: 5px solid #333333;
    margin: 10px 0 10px 0;
    padding: 0.5px 8px 0.5px 8px;
}
    
.about-me-grid {
    margin: -10px 0 0 18px;
    float: right;
    p & {
        padding: 0;
        margin: 0;
    }
    .profile-picture {
        height: $image-size;
        width: $image-size;
        margin: -20px 0 0 0;
        filter: drop-shadow(20px 20px 10px rgba(255, 255, 255, 0.3));
    }
    img {
        text-align: center;
        width: 100%;
    }
    .social-links {
        margin: 10px 0 10px 10px;
    }
    }

footer {
	background-color: $footer-bg;
    color: $footer-text;
	padding-bottom: 3rem;
	padding-top: 3rem;
	margin-top: 2em;
    display: grid;
	justify-items: stretch;
	grid-template-columns: [screen-start] 1fr [page-start kicker-start] minmax(min-content, $column-width) [middle-start] minmax(min-content, $column-width) [text-start kicker-end] repeat(8, minmax(min-content, $column-width)) [text-end gutter-start] minmax(min-content, $column-width) [middle-end] minmax(min-content, $column-width) [page-end gutter-end] 1fr [screen-end];
	grid-column-gap: 1.5rem;
}

#footer-left {
    grid-column: text-start / 8;
}

#footer-left > time {
    color: $footer-text;
}

#footer-right {
    grid-column: 8 / text-end;
}

.footer-icon {
    margin-right: 0.75rem;
    color: $footer-text;
}

.bibtex-wrapper {
    overflow-x: scroll;
    background-color: rgba(0,0,0,0.05);
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    margin-top: 1rem;
    font-size: 0.75rem;
}

.highlight {
    width: 0;
}

pre {
    display: block;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    margin: 1em 0px;
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
	.navbar {
		padding: 50px 0px 0px 0px;
	}
	#author-name {
		width: 100%;
		float: none;
	}
	#navlist {
		padding: 10px 0 10px 0;
		margin: 0;
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}
	#navlist li.alignable {
		display: inline-block;
	}
	#navlist li.nav-list {
		margin: 0;
	}
}

@media (max-width: $small-width) {
    img {
        margin-top: -5px;
    }
}

@media screen and (max-width: 768px) {
	#footer-left, #footer-right {
        grid-column: page;
    }

    #footer-left {
        margin-bottom: 1rem;
    }
}

/*extra*/

* {
    font-family: var(--font-family);
}

.avatar img {
    border-radius: 10% 10% 10% 10%;
}

.avatar {
    max-width: 192px;
}

p,
.navbar a.navbar-item {
    color: #777;
}

.navbar a.navbar-title {
    color: #4a4a4a;
}

.navbar a.navbar-title:hover {
    color: black;
}

.navbar a {
    margin-left: 1em;
}

p > em,
p > a {
    border-bottom: dashed 1px;
    font-style: normal;
    font-weight: normal;
}

p {
    font-size: 1.15rem;
}

.navbar-menu1 {
    margin-left: auto;
}

.navbar-menu1 a.navbar-item {
    color: #aaa;
}

.navbar-menu1 a.navbar-item:hover,
.navbar-menu1 a.navbar-item.is-active {
    color: var(--accent);
}

.navbar-menu1 a.navbar-item.is-active {
    font-weight: bold;
}

footer.footer {
    margin-top: auto;
}

ul.social-list {
    width: 90%;
}

ul.social-list > li {
    margin-bottom: 0.2em;
    font-size: 0.8em;
    text-align: right;
}

ul.social-list svg {
    fill: #aaa;
}

ul.social-list svg:hover {
    fill: var(--accent);
}

div.talk > h2 span:not(:last-child)::after,
div.podcast > h2 span:not(:last-child)::after,
div.publication > h2 span:not(:last-child)::after {
    content: ','
}

div.talk > h2 span strong,
div.podcast > h2 span strong,
div.publication > h2 span strong {
    text-decoration: underline;
}


div.talk > h2.external-links a,
div.podcast > h2.external-links a,
div.publication > h2.external-links a {
    font-family: var(--font-family-mono);
}

div.talk > h2.external-links a::before,
div.podcast > h2.external-links a::before,
div.publication > h2.external-links a::before {
    content: '[';
}

div.talk > h2.external-links a::after,
div.podcast > h2.external-links a::after,
div.publication > h2.external-links a::after {
    content: ']';
}

div.talk > h2.external-links a:hover,
div.podcast > h2.external-links a:hover,
div.publication > h2.external-links a:hover {
    text-decoration: underline;
    color: #444;
}

table.news {
    font-weight: lighter;
    table-layout: fixed;
}

table.news tr > td:first-child,
table.news tr > td:nth-child(2),
div.news-container-see-more a {
    font-family: var(--font-family-mono);
    white-space: nowrap;
} 

.news-container {
    overflow: hidden;
    transition: all linear 0.1s;
}

table.news em {
    font-style: normal;
    font-weight: normal;
}

h1.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2em;
}

h1.talk-title strong,
h1.podcast-title strong,
h1.publication-title strong {
    font-size: 1.125rem;
    color: var(--accent);

}

h1.talk-title:hover strong,
h1.podcast-title:hover strong,
h1.publication-title:hover strong {
    color: #444;
}

.color-accent {
    color: var(--accent) !important;
}

@media screen and (max-width:769px) {
    .navbar a {
        margin-left: 0;
    }

    .navbar-menu1 {
        margin-left: 0;
    }

    .navbar .container {
        flex-direction: column;
    }
}

.photo img {
    opacity: 0.9;
    cursor: pointer;
}

.photo img:hover {
    opacity: 1;
}

#image-modal .modal-content {
    width: 80%;
}

#image-modal .modal-content div.photo-container {
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#image-modal .modal-content div.photo-description {
    text-align: left;
    position: absolute;
    bottom: 4px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.75;
}

#image-modal .modal-content div.photo-description:hover {
    opacity: 1;
}

#image-modal .modal-content div.photo-description span {
    padding: 4px 8px;
    color: #fff;
    font-size: 16px;
}

#image-modal img {
    height: 99%;
}

#image-modal .photo-previous,
#image-modal .photo-next {
    position: relative;
    fill: white;
    border-radius: 100%;
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-modal .photo-previous:hover,
#image-modal .photo-next:hover {
    background: rgba(10,10,10,.3);
}

#image-modal .photo-previous {
    left: 40px;
}

#image-modal .photo-previous svg {
    margin-right: 4px;
}

#image-modal .photo-next {
    transform: rotate(180deg);
    right: 40px;
}

#image-modal .photo-previous svg {
    margin-left: 4px;
}