/*
 * Customization Variables
 */

$accent: #357edd;
$image-size: 175px;
$footer-bg: #1E1E24;
$footer-text: #e6e6e6;
$header-text: #1E1E24;
$column-width: 3.5rem;

/*
 * Build Variables, don't touch
 */

$max-width: 750px;
$med-width: 600px;
$small-width: 480px;
